!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kiwi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,700', rel: 'stylesheet' , type: 'text/css'}
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #header
      .menu
        %ul.nav
          %li{ class: "#{'selected' if @tab == 'home'}"}= link_to 'Home', '/'
          %li{ class: "#{'selected' if @tab == 'data'}"}= link_to 'Data', checkins_url
          %li{ class: "#{'selected' if @tab == 'contact'}"}= link_to 'Contact', '/contact'
      .banner= link_to 'KIWI', '/'
    #main
      = yield
