!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kiwi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      .menu
        %ul.nav
          %li= link_to 'Home', '/'
          %li= link_to 'Data'
          %li= link_to 'Contact'
      .banner KIWI
    #main
      = yield
